<div class="container">
  <div class="row">
    <div class="span12 contents-header">
      <h2><%= @track.title %></h2>
    </div>
  </div>
</div>
<%= raw @track.lyric %>
<div>
  <%= if @nextPlaylistDetail.nil?
        link_to sanitize('<div class="btn btn-primary">setlist top</div>'), {:controller => "setlist", :action => "index", :id => @playlistDetail.playlist.id}
      else
        link_to sanitize('<div class="btn btn-primary">' + @nextPlaylistDetail.track_datum.title + '</div>'), {:controller => "lyric", :action => "index", :id => @nextPlaylistDetail.id}
      end %>
</div>