<div class="container">
  <div class="row">
    <div class="span12 contents-header">
      <h2><%= @playlist.title %></h2>
    </div>
    <%= form_tag ({:action => 'add_update', :id => @playlist.id}) do %>
        <table class="table">
          <tbody>
          <% @tracks.each do |track| %>
              <tr>
                <td>
                  <%= check_box_tag "track_id[]", track.id %>
                </td>
                <td>
                  <%= track.title %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <button class="btn btn-primary" type="submit">OK</button>
    <% end %>
  </div>
</div>