<div class="container">
  <div class="row">
    <div class="span12 contents-header">
      <h2><%= @playlistTitle %></h2>
    </div>
    <table class="table">
      <tbody>
      <% @playlistDetails.each do |detail| %>
          <tr>
            <td><%= detail.track_datum.title %></td>
            <td><%= link_to sanitize('<i class="icon-chevron-right"</i>'), {:controller => "setlist", :action => "lyric", :id => detail.id} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>